.main{
    background-color:rgb(255, 102, 0);
    width:290px;
    padding:30px;
    border:4px dashed rgb(255, 251, 0);
    margin:120;
}

.title{

    color:blue;
    font-size:33px;
    font-weight:bold;
}

body{
    background:linear-gradient(rgb(7, 71, 230), rgb(16, 181, 218))
}

.habitat{
    color:bisque;
    font-size:18px;

}

.diet{
    color:blueviolet;
    font-size:18px;
    font-weight:bold;

}

.fact{
    color:chartreuse;
    font-size:18px;
}

